<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.jbandala.portafolio"
        version   = "0.0.1">
    <name>Portafolio</name>

    <description>
       Portafolio JBandala
    </description>

    <author href="http://www.jbandala.com" email="eric@jbandala.com">
        Cenet
    </author>

      <feature name="http://api.phonegap.com/1.0/device" />
    <feature name="http://api.phonegap.com/1.0/battery"/>
<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/contacts"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/media"/>
<feature name="http://api.phonegap.com/1.0/network"/>
<feature name="http://api.phonegap.com/1.0/notification"/>
<plugin name="Storage" value="org.apache.cordova.Storage" />
<plugin name="Capture" value="org.apache.cordova.Capture"/>

    <preference name="phonegap-version" value="2.7.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />

  
   
<icon src="images/72.png" gap:platform="ios" width="72" height="72" />
<icon src="images/114.png" gap:platform="ios" width="114" height="114" />
<icon src="images/144.png" gap:platform="ios" width="144" height="144" />

    <gap:splash src="images/splash.png"    gap:platform="ios"     width="768" height="1024" />
	
	<access origin="*" subdomains="true" />
</widget>